.App {
  display: flex;
  height: 100vh;
  background-color: #008080; /* Teal background */
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leftPanel {
  padding: 20px;
  color: white;
}

.rightPanel {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Materialistic shadow */
  max-width: 300px; /* Limit the maximum width */
  margin-top: 20px; /* Add margin to separate the panels */
}

.App-header {
  text-align: center;
}

.inputContainer {
  display: flex;
  justify-content: center;
}

input[type='text'] {
  width: 30px; /* Adjust width to make inputs smaller */
  height: 30px; /* Adjust height to make inputs smaller */
  font-size: 16px; /* Adjust font size */
  text-align: center;
  margin: 5px;
  border: 2px solid #ddd;
  border-radius: 5px;
}

button {
  margin-top: 10px;
  background-color: #008080; /* Teal button background */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #005454; /* Darker teal on hover */
}
